$color-violeta:rgb(130, 105, 140);
$color-blanco: white;
$color-negro: black;
$color-gris: gray;
$color-rojo: red;
$color-azul: blue;
$color-fucsia: fuchsia;
$color-coral: coral;


* {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.5843137255);
    box-sizing: border-box;
}