.img__req{
    width: 500%;
    height: 500px;
    object-fit: contain;
}

.list__req{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 110%;
    font-family:Arial, Helvetica, sans-serif;
    color:$color-violeta;
} 