.btn{
    color:$color-negro;
    border-color:$color-negro;

    &-violeta{
        background-color:$color-violeta;
        color:$color-blanco;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;

        &:hover{
            background-color:$color-blanco;
            color:$color-violeta;
            border-color:$color-violeta;
        }

    }

    
}

